<div class="ui basic modal">
    <div class="ui icon header">
      <i class="archive icon"></i>
      직원 명단 삭제
    </div>
    <div class="content center">
      <p>해당 직원을 목록에서 삭제하시겠습니까?</p>
    </div>
    <div class="actions">
      <div class="ui basic cancel inverted button">
        <i class="remove icon"></i>
        취소
      </div>
      <div id="delete_btn" class="ui red ok inverted button">
        <i class="trash alternate icon"></i>
        삭제하기
      </div>
    </div>
</div>